.shorten {
	&__container {
		margin-top: -65%;
		margin-bottom: 80px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin: 0 24px;
		padding: 24px;
		border-radius: 10px;
		background-color: #3a3054;
	}

	&__input {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 36px;
		letter-spacing: 0.12px;
		color: #34313d;
		border-radius: 5px;
		margin-bottom: 16px;
		padding-left: 16px;
		border: none;
		outline: none;
	}

	&__btn {
		background-color: #2bd0d0;
		padding: 5px 0;
		border-radius: 5px;
		border: none;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 27px;
		color: #fff;
	}
}

.loading {
	opacity: 0.5;
	cursor: not-allowed;
}

.error-msg {
	color: red;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: -13px;
}
